@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: start;
  }
}
.bg-dark {
  background-color: #343a40;
}
.navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
}
.collapse:not(.show) {
  /* display: none; */
}
.navbar-collapse {
  align-items: center;
  display: flex;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.nav-link {
  display: block;
  padding: 5px;
}
a {
  background-color: transparent;
  color: #007bff;
  text-decoration: none;
}
