@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: start;
  }
}
.bg-dark {
  background-color: #343a40;
}
.navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
  &-collapse {
    align-items: center;
    display: flex;
  }
  &-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    .nav-link {
      color: rgba(255, 255, 255, 0.5);
      display: block;
      padding: 5px;
    }
  }
  &-dark &-nav .active > .nav-link,
  &-dark &-nav .nav-link.active,
  &-dark &-nav .nav-link.show,
  &-dark &-nav .show > .nav-link {
    color: #fff;
  }

  a {
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
  }
}
.collapse:not(.show) {
  /* display: none; */
}
